*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;

}
body{
    height: 100vh;
    width: 100vw;
}

.navbar
{
    display: flex;
    position: relative;
    justify-content:space-between;
    width: 100vw;
    padding-inline: 20px;
    min-height: 15vh;
    font-size: 16px;
    background: rgba(0,0,0,.9);
}
.navbar .logo
{
    display: flex;
    padding-inline: 20px;
    align-items: center;
    width: 50vw;
    min-height: 6vh;
    font-size: 2em;
    color: white;
}
.menu
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 75px;
    width: 50vw;
    gap: 40px;
}
.menu a
{
display: flex;
gap: 5px;
width: auto;
height: 5vh;
position: relative;
text-decoration: none;
color: white;
font-size: 1.5em;
}
.menu a i
{
    font-size: 1.5rem;
    color: white;
}
.menu a:hover
{
    
    i
    {
    color:rgba(255,0,0,.9);
    transform: scale(1.3);
    }
}

.hamburger
{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    top: 15px;
    right: 20px;
    width: 50px;
    height: 25px;
}
.burger
{
    display: block;
    width: 40x;
    height: 4px;
    background:white;
}
.index
{
    display: flex;
    width: 100vw;
    height: 85vh;
    background-color:  rgba(0,0,0,.9);
    
}
.image
{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageforindex
{
    width: 350px;
    height: 350px;
    padding-inline: 10px;
    padding-block: 10px;
    background-color: rgba(0,0,0,.4);
    background-image: url(cartoon.jpeg);
    background-size: cover;
    border-radius: 30%;
    background-blend-mode: lighten;
}

.text
{

    display: flex;
    padding-left: 30px;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height:100%
}
.text h1
{
    display: inline-block;
    font-size: 2.5rem;
    color: white;
}
.text h2
{
    color: white;
}
.text .weltext
{
    display: flex;
    gap: 10px;
}
#welcome
{
    color:red;
    width: 50px;
    overflow: hidden;
    border-right:5px solid white ;
    transform: skew(-10deg);
    animation: wel 5s ease-in-out;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
@keyframes wel {
    to
    {
        width: 250px;
        
    }
}

/* contact */

#contact
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,.9);

}
.contactdiv
{
    width: 100vw;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact1
{
    display: flex;
    flex-direction: column;
    gap: 3vmin;
    width: 45%;
    padding-inline: 5vmax;
    height: 40vh;
      
}
.contact1 h1
{
    color: white;
}
.mail
{
    display: flex;
    gap: 2vmin;
}
.mail p
{
    color: white;
}
.social
{
    display: flex;
    gap: 2vmax;
}
.social i
{
color: white;
}
i
{
    color: red;
    font-size: 1.5em;
}
.contact2
{
    height: 40vh;
    padding-inline: 5vmax;
    padding-inline: 25px;
    width: 45%;
}
.contact2 form
{
    display: flex;
    flex-direction: column;
    gap: 3vmin;
}
input[type='text'],textarea
{
    border-radius: 5px;
    padding-block: 1.5vmin;
    padding-inline: 1.5vmin;
    background-color: grey;
    color: white;

    
}
:is([type='text'],textarea)::placeholder
{
    color:whitesmoke;
}
textarea
{
    height: 20vmin;
}
input[type="submit"]
{
    width: 15vmin;
    padding: 1vmin;
    color: white;
    background-color: red;
    border: none;
    border-radius: 4px;
    font-size: 1em;
}
.footer
{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/*  about   */
#about
{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.9);
    color: white;
}
.aboutimage
{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imageforabout
{
    width: 300px;
    height: 400px;
    background-color:rgba(0,0,0,.4);
    background-image:url("h.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:lighten;
    border-radius: 10px;
    animation: s 3s ease-in-out ;
    animation-fill-mode: forwards;
    
}
@keyframes s {
    to
    {
        transform: scale(1.2);
    }
}

.content
{
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap:20px;
    

}
.abouttext
{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.abouttext h1
{
    font-size: 2.3rem;
}
.abouttext p
{
    text-align: justify;
    text-indent: 50px;
    font-size: 1.2rem;
    opacity: .7;
}
.skilllink
{
    display: flex;
    gap: 15px;
}
#skil
{
    text-decoration: underline;
    text-decoration-color:rgba(255,0,0,0.7) !important;
    text-decoration-thickness:4px !important;
    text-underline-offset: 4px !important;
}
#edu
{
    text-decoration-color:rgba(255,0,0,.7) !important;
    text-decoration-thickness:4px !important; 
    text-underline-offset: 4px !important;
}
.showedu ul
{
    list-style-type: circle;
    list-style-position: inside;
}

.skilllink p
{

    color: white;
    font-size: 1.2rem;
    cursor: grab;
}

.showedu
{
    display:none ; 
    flex-direction: column;   
}
.showedu h3,.showedu h4
{
    color: rgba(0,0,0,.4);
    text-indent: 20px;
    color: rgba(255,255,255,.8);
}
.showedu p{
    text-indent: 15px;
    position: relative;
    color:rgba(255,0,0,.7);
    font-size: 1rem;    
    font-weight: bolder;
}
.showedu p::before
{
    content: '';
    position: absolute;
    left: 0px;
    top: 2px;
    width: 8px;
    height: 8px;
    background-color: rgba(255,0,0,.7);
    border-radius: 50%;

}
@media only screen and (max-width:768px) 
{
    .hamburger
    {
        display: flex;

    }    
    .menu
    {
         display: none;
         width: 100%;
         padding-block: 20px;
        flex-direction: column;
    }
    .menu a
    {
        display: block;
        width: 100%;
        padding-inline: 10px;
        padding-block: 10px;
    }

    .menus:hover::after
{
    content: '';
    
}
    .navbar
    {
        flex-direction: column;
    }
    .contactdiv
    {
        flex-direction: column;
    }
    .contact1,.contact2
    {
        padding-inline:0px;
        width: 70vw;
    }
    .image
    {
        display:none;
    }
    .index
    {
        align-items: center;
        justify-content: center;
    }
    .text
    {
        width: 60%;
    }
    #about
    {
        align-items: center;
        justify-content: center;
    }
    .content
    {
        width: 80vw;
    }
    .aboutimage
    {
        display: none;
    }
    .weltext
    {
        flex-direction: column;
    }
    .text
    {
        padding-left: 0;
    }
    .menu a
    {
        font-size: 1rem;

    }
    .menu a i
    {
        font-size: 1rem;
    }
    .abouttext
    {
        width: 80vw;
    }
    #about
    {
        min-height: 100vh;
    }
    .content
    {
        min-height: 150vh;
    
    }
    .footer
    {
        font-size: .7rem;
    }
}